//Title
$h1-style:128px;
$h2-style:40px;

// font-size
$fs-large:32px;
$fs-middle:24px;
$fs-small:20px;

// Color
$primary-color:#00FFA3;
$sec-color:linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

